# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Shared objects
*.dll
*.so
*.so.*

#Executables
*.exe
*.out
*.app


# Vagrant
.vagrant

# Generic Files to ignore
*.DS_Store
*~
*.lock
*.swp


